@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* Variables */
:root {
  --main-blue: #0050AC;
  --main-green: #009A17;
  --main-red: rgb(182, 15, 43);
  --main-orange: rgb(192, 85, 13);
}

/* Body */
body {
  background: url("../images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header */
header {
  padding: 40px;
  font-size: 1.4rem;
  align-items: center;
  color: #CCCCCC;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

header #t1 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 5px;
}

header p {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

header #connected {
  margin-bottom: 20px;
}

header .login,
.logout,
.acc,
.btn-admin,
.calendar {
  text-decoration: none;
  color: white;
  background-color: var(--main-green);
  padding: 10px 20px 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  margin-left: 20px;
  transition: 0.1s ease;
  box-shadow: 1px 1px 5px black;
}

header .logout {
  background-color: var(--main-red);
}

header .calendar {
  background-color: var(--main-blue);
}

header .acc {
  background-color: var(--main-orange);
}

header .btn-admin {
  background-color: var(--main-orange);
}

header .links {
  padding: 20px 30px 20px 30px;
}

header .links a {
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

header .links a#active {
  font-weight: bold;
  text-decoration: underline;
}

/* Main Logout */
.infoacc {
  margin: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.infoacc h1 {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 200;
  color: rgb(61, 61, 61);
  text-decoration: underline;
}

.infoacc .grp-info {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 50%;
  margin: auto;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 35px;
  transition: 0.2s ease;
  padding: 10px;
}

.infoacc .grp-info:hover {
  transition: 0.2s ease;
  transform: scale(105%);
}

.infoacc .grp-info:nth-child(even) {
  margin-right: 25%;
  border-radius: 50px 50px 50px 0px;
  flex-direction: row;
}

.infoacc .grp-info:nth-child(odd) {
  flex-direction: row-reverse;
  border-radius: 50px 50px 0px 50px;
  margin-left: 25%;
}

.infoacc .grp-info p {
  padding: 10px;
  transition: 0.2s ease;
  font-style: italic;
  font-size: 1.1rem;
}

.infoacc .grp-info img {
  width: 150px;
  padding: 10px;
  margin: 10px;
}

/* Main Login */
main {
  height: auto;
  font-size: 1.1rem;
}

.grp-activite {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 241px;
  transition: .1s ease;
  perspective: 600px;
  margin-right: 241px;
}

.activite {
  position: relative;
  margin: 15px;
  border-radius: 15px;
  padding: 10px 0px 70px 0px;
  background-color: #e0e0e0;
  overflow: hidden;
  font-weight: 200;
}

.activite .info {
  width: 20px;
  margin-left: 20px;
}

.activite #icon-info {
  width: 20px;
  margin-right: 10px;
}

.activite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  filter: blur(0.5px);
}

.activite>p,
h2 {
  position: relative;
  font-weight: 200;
  z-index: 1;
}

.activite button {
  text-decoration: none;
  color: white;
  background-color: var(--main-green);
  font-size: 1.2rem;
  width: 100%;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
  padding: 10px 0px 10px 0px;
}

.activite button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.activite h2,
p {
  padding-left: 10px;
}

.activite #waiting_list {
  background-color: var(--main-orange);
}

.activite #leave_activity {
  background-color: var(--main-red);
}

.activite button:hover {
  cursor: pointer;
}

/* Retournement de la carte pour afficher les infos de celle-ci */


/* Administration page */
.admin {
  margin: auto;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  border-spacing: 0;
}

.admin thead tr th {
  background-color: var(--main-blue);
  color: white;
}

.admin tbody tr td {
  color: black;
  margin-right: 10px;
  padding: 5px;
}

.admin tbody tr #rm img,
.admin tbody tr #ed img {
  width: 25px;
}

.admin tbody tr button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.insert-act {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.insert-act img {
  width: 25px;
}

.insert-act button {
  border: 0;
  cursor: pointer;
}

/* Edit Activity */
.edit-act {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.edit-act button {
  border: none;
}

.edit-act button img {
  width: 25px;
}

.edit-act .participant {
  display: inline-block;
}

/* Footer */
footer {
  text-align: center;
  position: sticky;
  margin: 20px 0px 20px 0px;
  color: white;
  font-size: 1rem;
  z-index: 500;
}

footer a {
  color: white;
}

footer a img {
  width: 15px;
  margin-right: 5px;
}

/* Responsive */
@media (max-width: 1200px) {
  .grp-activite {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-right: 100px;
    margin-left: 100px;
    transition: .1s ease;
  }

  .infoacc .grp-info img {
    display: none;
  }
}

@media (max-width: 1000px) {
  .grp-activite {
    margin: auto;
    margin-right: 50px;
    margin-left: 50px;
    transition: .1s ease;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1150px) {
  header {
    flex-direction: column;
  }

  header div #t1 {
    margin-bottom: 10px;
  }

  header div p {
    margin-bottom: 15px;
  }

  header .login,
  .logout,
  .acc,
  .btn-admin,
  .calendar {
    padding: 5px 10px 5px 10px;
    transition: .1s ease;
  }
}

@media (max-width: 606px) {
  header {
    flex-direction: column;
  }

  header div #t1 {
    margin-bottom: 20px;
    text-align: center;
  }

  header div p {
    text-align: center;
  }

  header .log {
    flex-direction: column;
    display: flex;
  }

  header,
  .logout,
  .calendar {
    transition: .1s ease;
    margin-top: 10px;
  }

}