@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* Variables */
:root {
  --main-blue: #0050ac;
  --background-blue: #0050ac42;
  --main-green: #009a17;
  --main-red: rgb(182, 15, 43);
  --main-orange: rgb(192, 85, 13);
  --background-orange: rgba(192, 85, 13, 0.432);
}

/* Body */
body {
  background: url("../images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* Header */
header {
  padding: 40px;
  font-size: 1.4rem;
  align-items: center;
  color: white;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

header #t1 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 5px;
}

header p {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

header #connected {
  margin-bottom: 20px;
}

header .login,
.logout,
.acc,
.btn-admin,
.calendar {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: var(--main-green);
  padding: 10px 20px 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  margin-left: 20px;
  transition: 0.3s ease;
  box-shadow: 1px 1px 5px black;
}

header .login:hover,
.logout:hover,
.acc:hover,
.btn-admin:hover,
.calendar:hover {
  transition: 0.3s ease;
  opacity: 50%;
}

header .logout {
  background-color: var(--main-red);
}

header .calendar {
  background-color: var(--main-blue);
}

header .acc {
  background-color: var(--main-orange);
}

header .btn-admin {
  background-color: var(--main-orange);
}

header .links {
  padding: 20px 30px 20px 30px;
}

header .links a {
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

header .links a#active {
  font-weight: bold;
  text-decoration: underline;
}

/* Main Logout */
.infoacc {
  margin: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.infoacc h1 {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 200;
  color: rgb(61, 61, 61);
  text-decoration: underline;
}

.infoacc .grp-info {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 50%;
  margin: auto;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 35px;
  transition: 0.2s ease;
  padding: 10px;
}

.infoacc .grp-info:hover {
  transition: 0.2s ease;
  transform: scale(105%);
}

.infoacc .grp-info:nth-child(even) {
  margin-right: 25%;
  border-radius: 50px 50px 50px 0px;
  flex-direction: row;
}

.infoacc .grp-info:nth-child(odd) {
  flex-direction: row-reverse;
  border-radius: 50px 50px 0px 50px;
  margin-left: 25%;
}

.infoacc .grp-info p {
  padding: 10px;
  transition: 0.2s ease;
  font-style: italic;
  font-size: 1.1rem;
}

.infoacc .grp-info img {
  width: 150px;
  padding: 10px;
  margin: 10px;
}

/* Main Login */
main {
  height: auto;
  font-size: 1.1rem;
}

.grp-activite {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 241px;
  transition: 0.1s ease;
  perspective: 600px;
  margin-right: 241px;
}

.activite {
  position: relative;
  margin: 15px;
  border-radius: 15px;
  word-wrap: break-word;
  padding: 10px 0px 70px 0px;
  background-color: white;
  overflow: hidden;
  font-weight: 200;
}

.activite .info {
  width: 20px;
  margin-left: 20px;
}

.activite #icon-info {
  width: 20px;
  margin-right: 10px;
}

.activite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  filter: blur(0.5px);
}

.activite > p,
h2 {
  position: relative;
  font-weight: 200;
  z-index: 1;
}

.activite p {
  margin-left: 10px;
}

.activite button {
  text-decoration: none;
  color: white;
  background-color: var(--main-green);
  font-size: 1.2rem;
  width: 100%;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
  padding: 10px 0px 10px 0px;
}

.activite button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.activite h2 {
  padding-left: 10px;
}

.activite #waiting_list {
  background-color: var(--main-orange);
}

.activite #leave_activity {
  background-color: var(--main-red);
}

.activite button:hover {
  cursor: pointer;
}

/* Administration page */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  margin: auto;
}

.admin {
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-spacing: 0;
  margin-bottom: 5%;
}

.admin tbody {
  background-color: white;
}

.admin thead tr {
  padding: 5px;
}

.admin thead tr th {
  background-color: var(--main-blue);
  color: white;
  font-weight: 100;
  border: 1px solid var(--main-blue);
  margin-bottom: 10px;
}

.admin tbody tr td {
  color: black;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--main-blue);
  text-align: center;
}

.admin tbody tr #rm img,
.admin tbody tr #ed img {
  width: 25px;
  transition: 0.3s ease;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  filter: drop-shadow(1px 1px 1px transparent);
}

.admin tbody tr #ed img:hover {
  transition: 0.3s ease;
  filter: drop-shadow(1px 1px 1px var(--main-orange));
}

.admin tbody tr #rm img:hover {
  transition: 0.3s ease;
  filter: drop-shadow(1px 1px 1px var(--main-red));
}

.admin tbody tr button {
  background: none;
  border: none;
  font: inherit;
}

.insert-act {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 10px;
  width: 60%;
  margin-top: 20px;
}

.insert-act input {
  width: 130px;
  padding-left: 3px;
  border: 0;
  background-color: white;
}

.insert-act input::placeholder {
  color: #000;
}

.insert-act img {
  width: 25px;
}

.insert-act button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.insert-act button img {
  filter: drop-shadow(1px 1px 1px transparent);
  transition: 0.3s ease;
}

.insert-act button img:hover {
  filter: drop-shadow(1px 1px 1px var(--main-green));
  transition: 0.3s ease;
}

/* Create & edit Activity */
.edit-act,
.insert-act {
  display: grid;
  margin: auto;
  text-align: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  color: white;
}

.edit-main {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.edit-left {
  width: 50%;
}

.edit-right {
  width: 50%;
}

.edit-act textarea,
.insert-act textarea {
  padding: 5px 20px 5px 20px;
  text-align: left;
  min-width: 250px;
  max-width: 250px;
  width: 250px;
  max-height: 150px;
  justify-content: center;
  border: 0;
  background-color: white;
  color: var(--main-blue);
  border-radius: 10px;
  transition: 0.3s ease;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px black;
  font-size: 1.2rem;
}

.edit-act #ed-info {
  font-size: 1.2rem;
}

.edit-act input,
.insert-act input {
  padding: 5px 20px 5px 20px;
  margin: auto;
  color: var(--main-blue);
  min-width: 250px;
  max-width: 250px;
  width: 250px;
  border: 0;
  background-color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 10px;
}

.insert-act input::placeholder,
.insert-act textarea::placeholder {
  color: var(--main-blue);
}

.edit-act button,
.insert-act button {
  background-color: transparent;
  border: none;
}

.edit-act button img,
.insert-act button img {
  width: 25px;
  margin-top: 10px;
  filter: drop-shadow(1px 1px 1px transparent);
  transition: 0.3s ease;
  cursor: pointer;
}

.edit-act button img:hover,
.insert-act button img:hover {
  transition: 0.3s ease;
  filter: drop-shadow(1px 1px 1px var(--main-green));
}

/* Liste des participants */
.disp-par {
  margin: auto;
}

.disp-par .participant {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
  color: var(--main-blue);
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px transparent;
  padding-left: 12px;
}

.disp-par .participant:hover {
  box-shadow: 1px 1px 5px black;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s ease;
}

.disp-par .participant button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.disp-par .participant button img {
  width: 25px;
  filter: drop-shadow(1px 1px 1px transparent);
  transition: 0.3s ease;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding: 5px 5px 5px 8px;
}

.disp-par .participant button img:hover {
  filter: drop-shadow(1px 1px 1px var(--main-red));
  border-radius: 10px;
  transition: 0.3s ease;
}

/* Planning */
.planning {
  color: white;
}

/* Footer */
footer {
  text-align: center;
  text-shadow: 1px 1px 5px black;
  position: relative;
  text-align: center;
  bottom: 0;
  color: white;
  font-size: 1rem;
  z-index: 500;
  margin-top: 20px;
}

footer a {
  color: white;
}

footer a img {
  width: 15px;
  filter: drop-shadow(1px 1px 5px black);
  margin-right: 5px;
}

/* Responsive */
@media (max-width: 1200px) {
  .grp-activite {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-right: 100px;
    margin-left: 100px;
    transition: 0.1s ease;
  }

  .infoacc .grp-info img {
    display: none;
  }
}

@media (max-width: 1000px) {
  .grp-activite {
    margin: auto;
    margin-right: 50px;
    margin-left: 50px;
    transition: 0.1s ease;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1275px) {
  header {
    flex-direction: column;
  }

  header div #t1 {
    margin-bottom: 10px;
  }

  header div p {
    margin-bottom: 15px;
  }

  header .login,
  .logout,
  .acc,
  .btn-admin,
  .calendar {
    padding: 5px 10px 5px 10px;
    transition: 0.1s ease;
    text-align: center;
  }
}

@media (max-width: 840px) {
  .edit-main {
    flex-direction: column;
  }

  .edit-left {
    width: 100%;
  }

  .edit-right {
    width: 100%;
  }

  table {
    width: 100%;
  }
}

@media (max-width: 616px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header div #t1 {
    margin-bottom: 20px;
    text-align: center;
  }

  header div p {
    text-align: center;
  }

  header .log {
    flex-direction: column;
    display: flex;
  }

  header,
  .logout,
  .calendar {
    transition: 0.1s ease;
    margin-top: 10px;
  }
  .disp-par .participant {
    background-color: transparent;
    color: white;
  }

  .disp-par .participant:hover {
    background-color: transparent;
    color: white;
  }
}
