@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* Variables */
:root {
  --main-blue: rgb(9, 21, 133);
  --second-blue: rgb(180, 187, 255);
  --main-green: rgb(15, 190, 88);
  --main-red: rgb(182, 15, 43);
  --main-orange: rgb(192, 85, 13);
}

/* Body */
body {
  background-color: #eeeeee;
}

/* Header */
header {
  text-align: center;
  padding: 40px;
  font-size: 1.4rem;
  align-items: center;
  color: white;
  background: url("../images/etml.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 5px rgba(94, 94, 94, 0.644);
}

header #t1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

header .log {
  text-align: center;
}

header #connected {
  margin-bottom: 20px;
}

header .login,
.logout,
.acc,
.btn-admin {
  text-decoration: none;
  color: white;
  background-color: var(--main-green);
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.1s ease;
  box-shadow: 0px 4px 5px rgba(94, 94, 94, 0.644);
}

header .login:hover,
.logout:hover,
.acc:hover,
.btn-admin:hover {
  transition: 0.1s ease;
  box-shadow: none;
  font-size: 1.05rem;
}

header .logout {
  background-color: var(--main-red);
}

header .acc {
  background-color: var(--main-orange);
}

header .btn-admin {
  background-color: var(--main-blue);
}

header .links {
  padding: 20px 30px 20px 30px;
}

header .links a {
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

header .links a#active {
  font-weight: bold;
  text-decoration: underline;
}

/* Main Logout */
.infoacc {
  margin: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.infoacc h1 {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 200;
  color: rgb(61, 61, 61);
  text-decoration: underline;
}

.infoacc .grp-info {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 50%;
  margin: auto;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 35px;
  transition: 0.2s ease;
  padding: 10px;
}

.infoacc .grp-info:hover {
  transition: 0.2s ease;
  transform: scale(105%);
}

.infoacc .grp-info:nth-child(even) {
  margin-right: 25%;
  border-radius: 50px 50px 50px 0px;
  flex-direction: row;
}

.infoacc .grp-info:nth-child(odd) {
  flex-direction: row-reverse;
  border-radius: 50px 50px 0px 50px;
  margin-left: 25%;
}

.infoacc .grp-info p {
  padding: 10px;
  transition: 0.2s ease;
  font-style: italic;
  font-size: 1.1rem;
}

.infoacc .grp-info img {
  width: 150px;
  padding: 10px;
  margin: 10px;
}

/* Main Login */
main {
  height: auto;
  font-size: 1.1rem;
}

.grp-activite {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.activite {
  position: relative;
  margin: 15px;
  color: aliceblue;
  border-radius: 15px;
  padding: 10px 0px 70px 0px;
  overflow: hidden;
}

.activite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/etml.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
}

.activite>p,
h2 {
  position: relative;
  z-index: 1;
}

.activite button {
  text-decoration: none;
  color: white;
  background-color: var(--main-green);
  font-size: 1rem;
  width: 100%;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.activite button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.activite h2,
p {
  padding-left: 10px;
}

.activite #waiting_list {
  background-color: var(--main-orange);
}

.activite #leave_activity {
  background-color: var(--main-red);
}

.activite button:hover {
  cursor: pointer;
}

/* Login */
#form form {
  margin-top: 50px;
  display: block;
  text-align: center;
}

#form form input {
  margin-bottom: 20px;
  padding: 5px 25px 5px 25px;
  border: 3px solid #555;
  font-size: 1.1rem;
}

#form form input[type="submit"] {
  background-color: var(--main-green);
  color: white;
  border: 0;
}

#form form input[type="submit"]:hover {
  cursor: pointer;
}

#form form input:focus {
  border: 3px solid #555;
  border-radius: 0px;
}

#form p {
  font-size: 1.2rem;
}

#form a {
  color: var(--main-green);
}

#form #error {
  color: rgb(161, 0, 0);
  margin-bottom: 10px;
}

#form #success {
  color: rgb(32, 161, 0);
  margin-bottom: 10px;
}

/* Administration page */
.admin {
  margin: auto;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  border-spacing: 0;
}

.admin h2 {
  background-color: red;
  padding: 200px;
}

.admin thead tr th {
  background-color: var(--main-blue);
  color: white;
}

.admin tbody tr td {
  color: black;
  margin-right: 10px;
  padding: 5px;
}

.admin tbody tr #rm img,
.admin tbody tr #ed img {
  width: 25px;
}

.admin tbody tr #rm button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}


/* Footer */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.555);
  color: white;
}

footer a {
  color: var(--main-blue);
  text-decoration: none;
}

/* Responsive */
@media (max-width: 1100px) {
  .grp-activite {
    grid-template-columns: repeat(4, 1fr);
  }

  .infoacc .grp-info img {
    display: none;
  }
}

@media (max-width: 873px) {
  .grp-activite {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 683px) {
  .grp-activite {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 432px) {
  .grp-activite {
    grid-template-columns: repeat(1, 1fr);
  }
}